<% include ./partials/header.ejs %>

  <div
    class="h-full max-w-screen-2xl container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center bg-white dark:bg-slate-900">
    <div class="w-full lg:w-1/2">
      <div class="lg:max-w-lg">
        <h1 class="text-3xl font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl">
          Small Step to make a Big Impact
        </h1>

        <div class="mt-8 space-y-5">
          <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-yanadark" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <span class="mx-2">We are people who wish to make big impact for society in needs</span>
          </p>

          <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-yanadark" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <span class="mx-2">We give you opportunity to serve</span>
          </p>

          <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-yanadark" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="mx-2">We connect NGOs and Individuals</span>
          </p>
        </div>
      </div>

      <div
        class="w-full mt-8 bg-transparent border rounded-md lg:max-w-sm dark:border-gray-700 focus-within:border-yanalight focus-within:ring focus-within:ring-yanavvlight dark:focus-within:border-yanalight focus-within:ring-opacity-40">
        <form method="post" action="/registerMail" class="flex flex-col lg:flex-row">
          <input type="email" name="email" placeholder="Enter your email address"
            class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" />

          <a type="submit"
            class="h-10 px-4 py-2 m-1 text-white transition-colors duration-200 transform bg-yanalight rounded-md hover:bg-yanadark focus:outline-none focus:bg-yanaedark">
            Join Us
          </a>
        </form>
      </div>
    </div>

    <div class="flex items-center justify-center w-full h-96 lg:w-1/2">
      <img class="object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl"
        src="https://images.unsplash.com/photo-1516708768847-5920363ea640?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="glasses photo">
    </div>
  </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8 dark:bg-slate-900">
      <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
        <div class="relative z-10 lg:py-16  dark:bg-slate-950 dark:shadow-2xl">
          <div class="relative h-64 sm:h-80 lg:h-full">
            <img
              src="https://images.unsplash.com/photo-1675179177247-47515757e62e?q=80&w=2083&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="absolute inset-0 h-full w-full rounded-md object-cover" />
          </div>
        </div>

        <div class="relative flex items-center bg-gray-100 dark:bg-slate-950">
          <span class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"></span>
          <div>
            <div class="p-8 sm:p-16 lg:p-24">
              <div>
                <h2 class="text-2xl font-bold sm:text-3xl dark:text-white">
                  Who are we?
                </h2>

                <p class="mt-4 text-gray-600 dark:text-gray-400">
                  "We are YANA, an empathetic and inclusive online platform committed to providing holistic support and
                  companionship to
                  individuals across all stages of life. Our mission is to go beyond traditional care, treating our
                  clients
                  as family,
                  fostering a sense of community, and making a positive difference in their lives. At YANA, we believe
                  in
                  the power of
                  connection and aim to create a trusted space where everyone, from the elderly to the youth and
                  single-parent families,
                  can find understanding, guidance, and a supportive community."
                </p>
              </div>
              <div class="py-8">
                <h2 class="text-2xl font-bold sm:text-3xl dark:text-white">
                  Our Philosophy
                </h2>

                <p class="mt-4 text-gray-600 dark:text-gray-400">
                  "We are YANA, an empathetic and inclusive online platform committed to providing holistic support and
                  companionship to
                  individuals across all stages of life. Our mission is to go beyond traditional care, treating our
                  clients
                  as family,
                  fostering a sense of community, and making a positive difference in their lives. At YANA, we believe
                  in
                  the power of
                  connection and aim to create a trusted space where everyone, from the elderly to the youth and
                  single-parent families,
                  can find understanding, guidance, and a supportive community."
                </p>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </section>





  <section class="bg-white dark:bg-slate-900">
    <div class="container px-6 py-10 mx-auto">
      <div class="mt-6 md:flex md:items-center md:justify-between">
        <div>
          <h1 class="text-2xl font-semibold text-slate-800 capitalize lg:text-3xl dark:text-white">
            What our Partners are saying
          </h1>

          <div class="flex mx-auto mt-6">
            <span class="inline-block w-40 h-1 bg-yanalight rounded-full"></span>
            <span class="inline-block w-3 h-1 mx-1 bg-yanalight rounded-full"></span>
            <span class="inline-block w-1 h-1 bg-yanalight rounded-full"></span>
          </div>
        </div>

        <div class="flex justify-between mt-8 md:mt-0">
          <button title="left arrow"
            class="p-2 mx-3 text-slate-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 dark:text-slate-200 dark:hover:bg-slate-800 dark:border-slate-700 hover:bg-slate-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
          </button>

          <button title="right arrow"
            class="p-2 text-slate-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 dark:text-slate-200 dark:hover:bg-slate-800 dark:border-slate-700 hover:bg-slate-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          </button>
        </div>
      </div>

      <section class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 lg:grid-cols-2 xl:grid-cols-3">
        <div class="p-8 border rounded-lg dark:border-slate-700">
          <p class="leading-loose text-slate-500 dark:text-slate-400">
            “YANA has been a lifeline for me. Their caring team addresses my daily and medical needs, alleviating
            loneliness. The
            emphasis on transportation for medical visits showcases their commitment to comprehensive support.
            Grateful!”
          </p>

          <div class="flex items-center mt-8 -mx-2">
            <img class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-slate-300 dark:ring-slate-700"
              src="https://media.istockphoto.com/id/530541245/photo/happy-woman-with-a-book.jpg?s=612x612&w=0&k=20&c=9EkI_xMPtcaAxLCuSjiPqawmV32nsJAyYvqLsniMPSM="
              alt="">

            <div class="mx-2">
              <h1 class="font-semibold text-slate-800 dark:text-white">Vasanti Shah</h1>
              <span class="text-sm text-slate-500 dark:text-slate-400">Pune, Maharastra</span>
            </div>
          </div>
        </div>

        <div class="p-8 bg-yanavlight border border-transparent rounded-lg dark:bg-yanalight">
          <p class="leading-loose text-white">
            “Volunteering with YANA has been incredibly fulfilling. The day care programs they offer for the elderly are
            exceptional.
            It's heartening to be part of an organization so dedicated to making a positive impact.”.
          </p>

          <div class="flex items-center mt-8 -mx-2">
            <img class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-blue-200"
              src="https://img.freepik.com/premium-photo/image-25-year-old-indian-man-that-is-smiling-camera_878783-7215.jpg"
              alt="">

            <div class="mx-2">
              <h1 class="font-semibold text-white">Ragveer Singh (Volunteer)</h1>
              <span class="text-sm text-stone-800">Mumbai, Maharastra</span>
            </div>
          </div>
        </div>

        <div class="p-8 border rounded-lg dark:border-slate-700">
          <p class="leading-loose text-slate-500 dark:text-slate-400">
            “Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quibusdam ducimus libero ad
            tempora doloribus expedita laborum saepe voluptas perferendis delectus assumenda rerum, culpa
            aperiam dolorum, obcaecati corrupti aspernatur a.”.
          </p>

          <div class="flex items-center mt-8 -mx-2">
            <img class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-slate-300 dark:ring-slate-700"
              src="https://images.unsplash.com/photo-1488508872907-592763824245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="">

            <div class="mx-2">
              <h1 class="font-semibold text-slate-800 dark:text-white">Ema Watson </h1>
              <span class="text-sm text-slate-500 dark:text-slate-400">Marketing Manager at Stech</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <h1 class="px-4 pt-9 font-bold text-4xl text-[#1e293b] dark:bg-slate-900 dark:text-gray-100">Our Gallery</h1>
  <div class="px-6 py-7 pb-20 grid grid-cols-2 md:grid-cols-4 gap-4 dark:bg-slate-900">
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1526635090919-b5d79657c5a3?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1540778339538-067eae485e9f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1508847154043-be5407fcaa5a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1478061653917-455ba7f4a541?q=80&w=2050&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1498757581981-8ddb3c0b9b07?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1470277760377-4cf074a2f7bf?q=80&w=2061&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1494438043283-22a3c46831a4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1454875392665-2ac2c85e8d3e?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1551727028-e050e6ed2f62?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1526795443948-005b48ce4791?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1526860918836-81de4cae5681?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fHw%3D"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://images.unsplash.com/photo-1464998857633-50e59fbf2fe6?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
    </div>
  </div>



  <% include ./partials/footer.ejs %>