input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  font-weight: 500;
  color: #e60023;
  text-transform: capitalize;
  margin: 7px 0;
}
